<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{ usuario }} !
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesion <i
                        class="fa fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-7">
            <h2>Listado de Novedades</h2>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"> <i class="fa fa-plus"></i>Nuevo</a>
        </div>
        <div class="col-3">
            <form class="form-inline my-2 my-lg-0" action="/admin/novedades" method="get">
            <input class="form-control mb-3" type="search" placeholder="Buscar" aria-label="Search" name="q" {{#if q}} value={{q}} {{/if}}>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Imagen</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-end">
                        <a href="/admin/novedades/modificar/{{id}}" title="Editar" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="/admin/novedades/eliminar/{{id}}" title="Eliminar" class="btn btn-sm btn-secondary">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if is_search}}
        {{#unless novedades.length}}
        No se encontraron resultados para "<strong>{{q}}</strong>"
        {{/unless}}
        {{/if}}
    </div>
</div>
